body {
	color: white;
}

main {
	display: block;
	margin: auto;
	max-width: 1900px;
	padding: 0 50px;
}

ul {
	list-style-type: none;
	margin: none;
}

p, ul, li, a, span, textarea, h1, h2, h3,
h4, h5, h6, del, ins, time, sub, sup {
	color: white;
}

.site-content {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('/img/fond.jpg');
	min-height: 100vh;
}

.message {
	height: calc(100vh - 132px);
	min-height: 300px;
}

.message .h1 {
	font-size: 3.6rem;
	margin: 0;
}


.message .content {
	width: 620px;
	max-width: 620px;
	padding: 30px 0;
}

.message .loader-container {
	position: relative;
}

.message #percentage {
	position: absolute;
	right: -14%;
	top: -45%;
}

.message .bar-container {
	height: 13px;
}

.message .bar-container, .message .bar {
	border-radius: 30px;
}

.message .bar {
	background-image: -webkit-linear-gradient(90deg, #FF8000 40%, #FFBC48 100%);
	background-image:    -moz-linear-gradient(90deg, #FF8000 40%, #FFBC48 100%);
	background-image:         linear-gradient(90deg, #FF8000 40%, #FFBC48 100%);
}

.message form {
	margin-top: 50px;
}

.message form input {
	background-color: transparent;
	border: 1px solid white;
	color: white;
	font-weight: 300;
	border-radius: 3px;
	padding: 6px 12px;
}

.message form button {
	box-shadow: 3px 3px 2px 0 rgba(0,0,0,0.2)
}

footer .content {
	padding-left: 50px;
	padding-right: 50px;
}

@media screen and (max-width: 800px) {
	main {
		padding: 0 20px;
	}

	footer .content {
		padding-left: 20px;
		padding-right: 20px;
	}

}


